<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projektzespolowy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjektZespolowy">
        <activity android:name=".Przewodnik_ListaUczestnikow"></activity>
        <activity android:name=".Uzytkownik_PrzegladMojejWycieczki" />
        <activity android:name=".Uzytkownik_MojeWycieczki" />
        <activity android:name=".Uzytkownik_Konto" />
        <activity android:name=".Uzytkownik_PrzegladWycieczki" />
        <activity android:name=".Uzytkownik_ListaWycieczek" />
        <activity android:name=".Przewodnik_MAIN" />
        <activity android:name=".Uzytkownik_MAIN" />
        <activity android:name=".Admin_ListaUzytkownikow" />
        <activity android:name=".Admin_PrzegladWycieczki" />
        <activity android:name=".Admin_ListaWycieczek" />
        <activity android:name=".Admin_DodawanieWycieczek" />
        <activity android:name=".Admin_MAIN" />
        <activity android:name=".PrzypomnienieHasla" />
        <activity android:name=".Rejestracja" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>